"*":
  "activate-power-mode":
    autoToggle: false
  "atom-beautify":
    cfml:
      preserve_newlines: false
    css:
      indent_comments: false
      newline_between_rules: true
    general:
      _analyticsUserId: "760caa09-d8b4-4929-b907-40d82ee86824"
      beautifyEntireFileOnSave: false
    html:
      indent_inner_html: true
    js:
      end_with_comma: true
  autosave:
    enabled: true
  "bottom-dock": {}
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "git-history"
      "tree-view-filter"
      "minimap"
      "atom-shortcuts"
      "react"
      "minimap-linter"
      "minimap-highlight-selected"
      "minimap-hide"
      "minimap-git-diff"
      "minimap-find-and-replace"
      "minimap-cursorline"
      "minimap-codeglance"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 12
    invisibles:
      tab: "—"
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "c67d9cbc-f763-89a8-5a3f-26f1ba62ecd2"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  linter:
    showErrorPanel: false
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  navigate:
    f1: "http://devdocs.io/#q=&searchterm"
    f10: "https://duckduckgo.com/?q=&searchterm"
    f6: "http://www.bing.com/search?q=&searchterm"
  "node-debugger":
    debugPort: 8000
  "simple-drag-drop-text":
    copyKey: "meta"
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
  "todo-manager": {}
  "tree-view":
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  "tree-view-filter":
    caseInsensitive: true
    liveUpdate: true
  welcome:
    showOnStartup: false
